<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>
        {% block title %}
        Мой сайт
        {% endblock %}
    </title>
</head>
<body>
    <div class="container-fluid">
        <ul class="nav nav-pills align-items-end nav nav-tabs">
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Главная</a></li>
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Орехи и Сухофрукты</a></li>
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Оплата и Доставка</a></li>
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">О пользе орехов</a></li>
            <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Личный кабинет</a></li>
        </ul>
        {% block content %}
            Страница не заполнена
        {% endblock %}
        <div class="row fixed-bottom modal-footer">
            <hr>
            <footer>Все права защищены &copy;</footer>
        </div>
    </div>
</body>
</html>